@import (less) "_fonts.less";
@import (less) "_variables.less";
@import (less) "_mixins.less";
@import (less) "_reset.less";
@import (less) "_general.less";

/***
*     ######   ######## ##    ## ######## ########     ###    ##       
*    ##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       
*    ##        ##       ####  ## ##       ##     ##  ##   ##  ##       
*    ##   #### ######   ## ## ## ######   ########  ##     ## ##       
*    ##    ##  ##       ##  #### ##       ##   ##   ######### ##       
*    ##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       
*     ######   ######## ##    ## ######## ##     ## ##     ## ######## 
*/
html { color: @color_black; font-family: @font_text; } 
body { -webkit-text-size-adjust: 100%; }

// ==================================================================================================
// MQ: Téléphone paysage seulement
// ==================================================================================================
@media @mq_landscape_phone_only {
  body, html { overflow: hidden; }
  #overlay-wrong-orientation { display: block; }
}


/***
*    ##     ## ######## #### ##        ######  
*    ##     ##    ##     ##  ##       ##    ## 
*    ##     ##    ##     ##  ##       ##       
*    ##     ##    ##     ##  ##        ######  
*    ##     ##    ##     ##  ##             ## 
*    ##     ##    ##     ##  ##       ##    ## 
*     #######     ##    #### ########  ######  
*/
.valign { height: 100%; width: 100%; display: table; }
.valign > div { display: table-cell; vertical-align: middle; }
.valign > div > *:nth-child(1) { margin-top: 0 !important; } 
.valign > div > *:last-child { margin-bottom: 0 !important; }

.centre { margin-left: auto; margin-right: auto; width: 80%; }

.g-reg { font-family: 'GothamBold', sans-serif; }
.g-thin { font-family: 'GothamThin', sans-serif; }
.g-bold { font-family: 'GothamBlack', sans-serif; }
.g-ultra { font-family: 'GothamUltra', sans-serif; }

.cta { border: none; cursor: pointer; outline: none; display: flex; align-items: stretch; padding: 0; background-color: transparent;
  &-text { background-color: @color_red; font-weight: 400; padding: 0 1rem; font-size: 1rem; color: @color_white; font-family: @font_emphasis; display: flex; align-items: center; }
  &-icon { width: 2rem; height: 2rem; background-color: #E66768; display: flex; align-items: center; justify-content: center; }

}

.loader { width: 100%; min-height: 50vh; display: flex; align-items: center; justify-content: center; img { width: 5rem; } }

.error { width: calc(100% - 4rem); position: fixed; bottom: 2rem; left: 2rem; display: flex; align-items: center; justify-content: space-between; background-color: @color_red; color: @color_white; padding: 0.5rem 1rem;
  span { .g-reg }
  button { background-color: transparent; cursor: pointer; color: @color_white; border: none; font-size: 1.5rem; }
}

.validator { width: 100%; height: 100vh; position: fixed; top: 0; left: 0; background-color: fade(@color_black, 30%); display: flex; align-items: center; justify-content: center; z-index: 10; img { width: 5rem; } }

/***
*     ######   #######  ##     ## ########   #######   ######     ###    ##    ## ######## ########  ######  
*    ##    ## ##     ## ###   ### ##     ## ##     ## ##    ##   ## ##   ###   ##    ##    ##       ##    ## 
*    ##       ##     ## #### #### ##     ## ##     ## ##        ##   ##  ####  ##    ##    ##       ##       
*    ##       ##     ## ## ### ## ########  ##     ##  ######  ##     ## ## ## ##    ##    ######    ######  
*    ##       ##     ## ##     ## ##        ##     ##       ## ######### ##  ####    ##    ##             ## 
*    ##    ## ##     ## ##     ## ##        ##     ## ##    ## ##     ## ##   ###    ##    ##       ##    ## 
*     ######   #######  ##     ## ##         #######   ######  ##     ## ##    ##    ##    ########  ######  
*/
/***
*      ####  #    # ###### #####  #        ##   #   # 
*     #    # #    # #      #    # #       #  #   # #  
*     #    # #    # #####  #    # #      #    #   #   
*     #    # #    # #      #####  #      ######   #   
*      ####    ##   ###### #    # ###### #    #   #   
*/
#overlay { position: fixed; top: 0; left: 0; background-color: rgba(0,0,0,0.35); width: 100%; height: 100vh; text-align: center; z-index: 100; }
#overlay.hidden { display: none; }
#overlay > div { display: inline-block; .vertical-align; background-color: white; padding: 2rem; }
#overlay > div h3 { color: @color_black; margin-bottom: 0.5rem; }
#overlay .message > *:first-child { margin-top: 0; }
#overlay .fermer-overlay { position: absolute; top: 0.5rem; right: 0.5rem; cursor: pointer; z-index: 101; }
#overlay .fermer-overlay:hover i { color: @color_black; }
#overlay .fa-check-circle { font-size: 3rem; color: #32CD32; margin-bottom: 1rem; }

#overlay-wrong-orientation { position: fixed; top: 0; left: 0; display: none; width: 100%; height: 100vh; text-align: center; background-color: rgba(0,0,0,0.7); z-index: 100; }
#overlay-wrong-orientation > div { position: absolute; display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%; height: 100%; color: @color_white; }
#overlay-wrong-orientation > div p { margin-top: 0.5rem; }

/***
*     ######  ####  #####  #    # 
*     #      #    # #    # ##  ## 
*     #####  #    # #    # # ## # 
*     #      #    # #####  #    # 
*     #       ####  #    # #    # 
*/
// Label
.form__label { width: 100%; display: block; }

// Champs
select,
input[type="number"],
input[type="password"],
input[type="text"],
input[type="email"],
input[type="tel"],
textarea { border: 1px solid lighten(@color_black,70%); padding: 0.7rem; font-family: @font_text; font-size: 1rem; }
textarea { resize: none; }

select {.select-arrow(@color_black); }

// Champs de type "file"
.file-input-visual + input[type="file"] { display: none; }
.file-input-visual { display: inline-block; padding: 0.65em; font-size: 0.9rem; color: @color_white; background-color: @color_black; cursor: pointer; }

// Radio/Checkbox
input[type="radio"],
input[type="checkbox"] { display: none; }

input[type="radio"] + span,
input[type="checkbox"] + span { width: auto; display: inline-block; font-size: 1rem; padding-left:1rem; margin-right: 1rem; vertical-align: middle; cursor: pointer!important;  }

input[type="radio"] + span:last-child,
input[type="checkbox"] + span:last-child { margin: 0; }

input[type="radio"] + span:before { border-radius: 50%; }

// Before
input[type="radio"] + span:before,
input[type="checkbox"] + span:before { content: ''; position: absolute; top: 0; left: 0; box-sizing: border-box; padding: 3/18rem 3/18rem 3/18rem 2/18rem; width: 0.85rem; height: 0.85rem; display: inline-block; background-color: @color_white; border: 1px solid #000; }

// Checked
input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before { content: '\f00c'; font-family: 'Font Awesome 5 Free'; font-weight: bold; font-size: 0.6rem; color: @color_black; line-height: 1; }
input[type="checkbox"]:checked + span,
input[type="radio"]:checked + span{ color: @color_black; font-weight: bold; }

// Si erreur
.mce-tinymce.erreur,
.selectric-wrapper.erreur,
select.erreur,
input[type="number"].erreur,
input[type="password"].erreur,
input[type="text"].erreur,
input[type="email"].erreur,
input[type="tel"].erreur,
input[type="radio"].erreur + span:before,
input[type="checkbox"].erreur + span:before,
textarea.erreur { border: 1px solid @color_red; }
.form__label.erreur,
input[type="radio"].erreur + span,
input[type="checkbox"].erreur + span { color: @color_red; }

// Chargement
form.loading { cursor: progress; }
form.loading * { user-select: none; }
form.loading > * { opacity: 0.5; pointer-events: none; }

// Espacer les rangés
form .ff-cols > *[class*="c-"] { margin-bottom:1rem; }

// Les champs à width:100% quand ils sont directement dans une colonne
form .ff-cols > *[class*="c-"] {
  > select,
  > input[type="number"],
  > input[type="password"],
  > input[type="text"],
  > input[type="email"],
  > input[type="tel"],
  > textarea { width: 100%; }
}

@media @mq_phone_only{
  select,
  input[type="number"],
  input[type="password"],
  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {font-size: 16px!important; }
}

// Retirer les styles d'erreur de Firefox
select:invalid,
input:invalid,
textarea:invalid { box-shadow: none!important; }

/***
*    ##     ## ########    ###    ########  ######## ########  
*    ##     ## ##         ## ##   ##     ## ##       ##     ## 
*    ##     ## ##        ##   ##  ##     ## ##       ##     ## 
*    ######### ######   ##     ## ##     ## ######   ########  
*    ##     ## ##       ######### ##     ## ##       ##   ##   
*    ##     ## ##       ##     ## ##     ## ##       ##    ##  
*    ##     ## ######## ##     ## ########  ######## ##     ## 
*/
header.main-header { width: 100%; padding: 0 2rem; background-color: @color_lightgray; display: flex; align-items: center; }
nav.main-header_navigation {
  ul { display: flex; }
  li { padding: 2rem 1rem; }
  li.active::after { width: 1.5rem; height: 1.5rem; content: ""; background-color: @color_white; display: block; position: absolute; bottom: 0; left: 50%; transform: translate(-50%, 50%) rotate(45deg); }
  a { .g-bold; font-weight: 700; color: @color_black; text-transform: uppercase; }
}

/***
 *    ##          ###    ##    ##  #######  ##     ## ######## 
 *    ##         ## ##    ##  ##  ##     ## ##     ##    ##    
 *    ##        ##   ##    ####   ##     ## ##     ##    ##    
 *    ##       ##     ##    ##    ##     ## ##     ##    ##    
 *    ##       #########    ##    ##     ## ##     ##    ##    
 *    ##       ##     ##    ##    ##     ## ##     ##    ##    
 *    ######## ##     ##    ##     #######   #######     ##    
 */
.wrapper { width: 100%; padding: 0 2rem; }
.wrapper .hero { width: 100%; margin: 2rem 0; display: flex; align-items: center;
  &-title { text-transform: uppercase; margin-right: 1rem; }
  &-separator { height: 2px; background-color: @color_black; flex-grow: 1; }
  > .cta { margin-left: 1rem; }
}

/***
 *    ########  ########   #######        ## ######## ########  ######  
 *    ##     ## ##     ## ##     ##       ## ##          ##    ##    ## 
 *    ##     ## ##     ## ##     ##       ## ##          ##    ##       
 *    ########  ########  ##     ##       ## ######      ##     ######  
 *    ##        ##   ##   ##     ## ##    ## ##          ##          ## 
 *    ##        ##    ##  ##     ## ##    ## ##          ##    ##    ## 
 *    ##        ##     ##  #######   ######  ########    ##     ######  
 */
// ====================================================================
// NOUVEAU PROJET
// ====================================================================
.create-project { width: 100%; }
#create-project { width: 100%; display: flex; justify-content: space-between; }
.create-project_image { width: 40%;
  #create-project_image-input { display: none; }
  &-label { display:flex; width: 100%; height: 300px; background-color: @color_lightgray; cursor: pointer; border: 3px dashed @color_red; align-items: center; justify-content: center; .g-bold; color: @color_gray; text-transform: uppercase; padding: 2rem;
    &.preview {
      span { display: none; }
      img { display: block; width: 100%; height: 300px!important; object-fit: contain; }
    }
    &:not(.preview) { img { display: none; } }
  }
}
.create-project_infos { width: 55%; display: flex; flex-direction: column;
  .cta { margin-top: 2rem; margin-left: auto; }
}

// ====================================================================
// LISTE DES PROJETS
// ====================================================================
.projects-list { width: 100%; display: grid; grid-template-columns: repeat(4, 1fr); column-gap: 1rem; row-gap: 2rem; }
.projects-list_item { width: 100%; background-color: @color_lightgray; border: 1px solid @color_gray; border-radius: 5px; overflow: hidden; cursor: pointer;
  &-image { width: 100%; height: 200px; background-size: cover; }
  &-infos { padding: 1rem; }
}

// ====================================================================
// SINGLE D'UN PROJET
// ====================================================================
.single-project { width: 100%; display: flex; justify-content: space-between; }
.single-project_tasks { width: 60%;
  &-container { width: 100%; }
  #single-project_tasks { width: 100%; height: 50vh; border: 1px solid @color_gray; }
}
.single-project_infos { width: 35%;
  &-banner { width: 100%; height: 300px; background-size: cover; background-position: center; }
  &-container { width: 100%; background-color: @color_lightgray; padding: 1rem; margin-top: 1rem;
    h4 { width: 100%; border-bottom: 2px solid @color_gray; padding-bottom: 0.5rem; }
    p { margin-top: 1rem; }
    .cta { margin-top: 1rem; margin-left: auto; }
    .input-container { display: flex; flex-direction: column; margin-top: 1rem;
      span { font-family: @font_emphasis; font-size: 0.8rem; font-weight: 600; margin-bottom: 0.5rem; }
    }
  }
}